<div class="row userinput">
    <div class="col-xs-12">
        <form class="form-inline" role="form">
                    <span class="form-group {{hasState}}">
                        <label class="sr-only" for="location">City</label>
                        <input ng-model="location" type="text" class="form-control" id="location" placeholder="City">
                    </span>
            <button ng-click="fetchWeather(location)" type="submit" class="btn btn-primary">Search!</button>
            <loading></loading>
        </form>
    </div>
</div>
<div class="row current">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{forecast.location.city }}, {{forecast.location.country }}
                <small>Lon: {{forecast.item.long | number:6}} Lat: {{forecast.item.lat | number:6}}</small>
            </div>
            <div class="panel-body">
                <p><i class="wi wi-yahoo-{{forecast.item.condition.code}}"></i>{{forecast.item.condition.text}}</p>
                <p>{{forecast.item.condition.temp}}&#176;{{forecast.units.temperature}}</p>
            </div>
            <div class="panel-footer">
                <small>
                    Pressure: {{forecast.atmosphere.pressure}} {{forecast.units.pressure}}&nbsp;&#126;&nbsp;
                    Humidity: {{forecast.atmosphere.humidity}} %
                </small>
            </div>
        </div>
    </div
    <div class="row forecast">
        <div class="col-md-1"></div>
        <div class="col-md-2" ng-repeat="df in forecast.item.forecast | limitTo:5">
            <div class="panel panel-primary">
                <div class="panel-heading">{{df.date | parseDate | date:'fullDate'}}</div>
                <div class="panel-body">
                    <p><i class="wi wi-yahoo-{{df.code}}"></i>{{df.text}}</p>
                    <p>High: {{df.high}}&#176;{{forecast.units.temperature}}</p>
                    <p>Low: {{df.low}}&#176;{{forecast.units.temperature}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<pre>-->
<!--{{ forecast | json }}-->
<!--</pre>-->
